h1 {
    text-align: center;
    font-style: italic;
    
}

p {
    font-style: italic;
    text-align: center;
    width: fit-content;
    font-size: 50px;
    margin-top: 15%;
}

img {
    margin-left: 15%;



}


.primeiro {
    background-color: #ccc;
    padding: 30px;
}

.flex-container {
    background-color: crimson;
    display: flex;
    align-items: stretch;
    padding: 30px;
}
