/*First Sector*/
.imagemKing {
    
    padding: 5px;
    width: 300px;
    height: 300px;
    margin-left: 1%;

}

/*Second Sector*/
.imagemAchiev {

    padding: 5px;
    width: 300px;
    height: 300px;
    margin-left: 25%;

}

/*Third Sector*/
.imagemGreen {

    width: 75px;
    height: 75px;

}

.imagemBlank {

    width: 75px;
    height: 75px;

}


/*Fourth Sector*/
.imagemHanoi {

    width: 300px;
    height: 300px;

}

.imagemAssembly {

    width: 300px;
    height: 300px;

}

.imagemBreve {

    width: 300px;
    height: 300px;

}


/*Arrows*/
.arrow-left,
.arrow-right {
  position: absolute;
  top: 0;
  left: 0;
  right: auto;
  bottom: 0;
  font-size: 20px;
  line-height: 250px;
  width: 40px;
  color: #fff;
  transition: all 600ms ease-in-out;
  background: linear-gradient(to left, transparent 0%, black 200%);
  opacity: 0.1;
  cursor: pointer;
  border: none;
}

.arrow-left:hover,
.arrow-right:hover {
  opacity: 1;
}

.arrow-right {
  right: 0;
  left: auto;
  text-align: right;
  background: linear-gradient(to right, transparent 0%, black 200%);
}




